.root {
    display: flex;
    margin: auto;
    max-width: 500px;
    flex: 1;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.image {
    width: 30vmax;
    max-width: 200px;
    margin: 30px;
}