.root {
    padding: 20px;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    height: 50px;
    margin: 10px;
    margin-right: 5px;
}

.text {
    font-weight: 500;
    user-select: none;
}

.signUpLoginDiv {
    position: fixed;
    top: 0;
    right: 0;
    margin: 30px;
}

.loginButton {
    margin: 10px;
}

.signUpButton {
    margin: 10px;
}