.root {
    /* height: 100%; */
    display: flex;
    max-width: 500px;
    flex: 1;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
}

.textInput {
    border-radius: 24px;
}

.button {
    border-radius: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: linear-gradient(30deg, #a33dcc 30%, #8753ff 90%);
}